node_modules
**/node_modules
**/.next
**/dist
**/.turbo
.git
.gitignore
.env
.env.*
!.env.example
.vscode
.idea
**/coverage
**/test
**/*.spec.ts
**/*.test.ts
Dockerfile
**/Dockerfile
docker-compose.yml
docker-compose*.yml
.dockerignore
